/* foooter */
.footer {
  height: 100px;
  background-color: var(--color4);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.footer > div > blockquote {
  color: var(--colorBlack);
}

.footer > div > blockquote > a {
  text-decoration: none;
  color: var(--colorBlack);
  margin: 0em 1em;
}